In [1]:
import pandas as pd
import os

In [2]:
# set csv file to load in working directory
filename = "craigslist_used_cars.csv"
filepath = os.path.join(os.getcwd(), filename)

In [3]:
# load csv and confirm is was loaded
df1 = pd.read_csv(filepath)
print(len(df1))
df1.head()

426880

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [4]:
# check shape and datatypes
print(df1.shape)
df1.dtypes

(426880, 26)

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

In [5]:
# copy dataframe and then drop unneccesary columns
columns_to_drop = ['url','region_url','image_url','county']
df2 = df1
df2.drop(columns_to_drop, axis=1, inplace=True)
df2.shape

(426880, 22)

In [6]:
# check for NaN values
df2.isna().sum()

id                   0
region               0
price                0
year              1205
manufacturer     17646
model             5277
condition       174104
cylinders       177678
fuel              3013
odometer          4400
title_status      8242
transmission      2556
VIN             161042
drive           130567
size            306361
type             92858
paint_color     130203
description         70
state                0
lat               6549
long              6549
posting_date        68
dtype: int64

In [7]:
# copy dataframe and remove rows that have either NaN in year or odometer column(s)
df3 = df2
df3 = df3.dropna(subset=['year']) # 1205 rows removed
df3 = df3.dropna(subset=['odometer']) # 4331 rows removed, as some overlapped with dropped rows from the year column
print(df3.shape)
df3.isna().sum()

(421344, 22)

id                   0
region               0
price                0
year                 0
manufacturer     16267
model             5195
condition       170493
cylinders       174759
fuel              2172
odometer             0
title_status      7358
transmission      1695
VIN             159323
drive           128849
size            301612
type             91782
paint_color     128090
description          2
state                0
lat               6481
long              6481
posting_date         0
dtype: int64

In [8]:
# change datatypes of year and odometer from float to int as they should be whole numbers
dtype_dict = {
    'year':'int64',
    'odometer':'int64',
}

df3 = df3.astype(dtype_dict)
df3.dtypes

id                int64
region           object
price             int64
year              int64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer          int64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
description      object
state            object
lat             float64
long            float64
posting_date     object
dtype: object

In [9]:
# check where prices are 0
print('Price values are 0:',(df3['price'] == 0).sum())
print('DataFrame length:',len(df3))

Price values are 0: 30759
DataFrame length: 421344

In [10]:
# copy dataframe and then remove rows where the price is 0
df4 = df3
df4 = df4[df4['price'] != 0]
print('DataFrame length:',len(df4))

DataFrame length: 390585

In [11]:
# check for odometer values that are 0
print('Odometer value is 0:',(df4['odometer'] == 0).sum())

Odometer value is 0: 1103

In [12]:
# remove rows were the odometer value is 0
df5 = df4
df5 = df5[df5['odometer'] != 0]
print('DataFrame length:', len(df5))

DataFrame length: 389482

In [13]:
# check for prices and odometers above realistic values
print("Prices above 350000:",(df5['price'] >= 350000).sum())
print("Odometers above 250000:",(df5['odometer'] >= 250000).sum())

Prices above 350000: 71
Odometers above 250000: 7053

In [14]:
# copy dataframe and remove rows for prices above 350000 and odometers above 250000
# as prices and odometers above each respective value is most likely an error or an outlier
df6 = df5
df6 = df6[df6['odometer'] < 250000] # 7053 rows removed
df6 = df6[df6['price'] < 350000] # 62 rows removed, as 9 were an overlap with odometer rows removed
len(df6)

382367

In [15]:
# change 'state' column to uppercase
df6['state'] = df6['state'].str.upper()
df6.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,VIN,drive,size,type,paint_color,description,state,lat,long,posting_date
27,7316814884,auburn,33590,2014,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923,...,3GTP1VEC4EG551563,NaN,NaN,pickup,white,Carvana is the safer way to buy a car During t...,AL,32.590,-85.4800,2021-05-04T12:31:18-0500
28,7316814758,auburn,22590,2010,chevrolet,silverado 1500,good,8 cylinders,gas,71229,...,1GCSCSE06AZ123805,NaN,NaN,pickup,blue,Carvana is the safer way to buy a car During t...,AL,32.590,-85.4800,2021-05-04T12:31:08-0500
29,7316814989,auburn,39590,2020,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160,...,3GCPWCED5LG130317,NaN,NaN,pickup,red,Carvana is the safer way to buy a car During t...,AL,32.590,-85.4800,2021-05-04T12:31:25-0500
30,7316743432,auburn,30990,2017,toyota,tundra double cab sr,good,8 cylinders,gas,41124,...,5TFRM5F17HX120972,NaN,NaN,pickup,red,Carvana is the safer way to buy a car During t...,AL,32.590,-85.4800,2021-05-04T10:41:31-0500
31,7316356412,auburn,15000,2013,ford,f-150 xlt,excellent,6 cylinders,gas,128000,...,NaN,rwd,full-size,truck,black,2013 F-150 XLT V6 4 Door. Good condition. Leve...,AL,32.592,-85.5189,2021-05-03T14:02:03-0500

In [16]:
# Copy dataframe and splitting the posting_date column into multiple columns
df7 = df6
df7[['Date', 'Time_UTC']] = df7['posting_date'].str.split('T', expand=True)
df7[['Year', 'Month', 'Day']] = df7['Date'].str.split('-', expand=True)
df7[['Hour', 'Minute', 'Second_UTC']] = df7['Time_UTC'].str.split(':', expand=True)
df7[['Second', 'UTC_Offset']] = df7['Second_UTC'].str.split('-', expand=True)
df7.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,Date,Time_UTC,Year,Month,Day,Hour,Minute,Second_UTC,Second,UTC_Offset
27,7316814884,auburn,33590,2014,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923,...,2021-05-04,12:31:18-0500,2021,05,04,12,31,18-0500,18,0500
28,7316814758,auburn,22590,2010,chevrolet,silverado 1500,good,8 cylinders,gas,71229,...,2021-05-04,12:31:08-0500,2021,05,04,12,31,08-0500,08,0500
29,7316814989,auburn,39590,2020,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160,...,2021-05-04,12:31:25-0500,2021,05,04,12,31,25-0500,25,0500
30,7316743432,auburn,30990,2017,toyota,tundra double cab sr,good,8 cylinders,gas,41124,...,2021-05-04,10:41:31-0500,2021,05,04,10,41,31-0500,31,0500
31,7316356412,auburn,15000,2013,ford,f-150 xlt,excellent,6 cylinders,gas,128000,...,2021-05-03,14:02:03-0500,2021,05,03,14,02,03-0500,03,0500

In [17]:
# define columns to drop from the split
columns_to_drop2 = ['Time_UTC','Second_UTC','UTC_Offset']
df7.drop(columns_to_drop2, axis=1, inplace=True)
df7.head()

,id,region,price,year,manufacturer,model,condition,cylinders,fuel,odometer,...,lat,long,posting_date,Date,Year,Month,Day,Hour,Minute,Second
27,7316814884,auburn,33590,2014,gmc,sierra 1500 crew cab slt,good,8 cylinders,gas,57923,...,32.590,-85.4800,2021-05-04T12:31:18-0500,2021-05-04,2021,05,04,12,31,18
28,7316814758,auburn,22590,2010,chevrolet,silverado 1500,good,8 cylinders,gas,71229,...,32.590,-85.4800,2021-05-04T12:31:08-0500,2021-05-04,2021,05,04,12,31,08
29,7316814989,auburn,39590,2020,chevrolet,silverado 1500 crew,good,8 cylinders,gas,19160,...,32.590,-85.4800,2021-05-04T12:31:25-0500,2021-05-04,2021,05,04,12,31,25
30,7316743432,auburn,30990,2017,toyota,tundra double cab sr,good,8 cylinders,gas,41124,...,32.590,-85.4800,2021-05-04T10:41:31-0500,2021-05-04,2021,05,04,10,41,31
31,7316356412,auburn,15000,2013,ford,f-150 xlt,excellent,6 cylinders,gas,128000,...,32.592,-85.5189,2021-05-03T14:02:03-0500,2021-05-03,2021,05,03,14,02,03

In [18]:
# Define output file name for csv, then export the final dataframe and notify on completion
output_file = 'used_cars_cleanedv2.csv'
df7.to_csv(output_file, index=False)
print(f"Data exported to '{output_file}' successfully.")

Data exported to 'used_cars_cleanedv2.csv' successfully.